
/* mudanças adap. fb to pha */

.navbar {
	background-color: #ecebeb;
}

.fundo-mega-menu {
	background-color: #e0e0e0;
}

.top-bubble {
	background-color: #333;
}

.middle-bubble {
	background-color: #333;
}

.top-bubble {
	background-color: #333;
}

.texto-menu-abrir {
	background-color: #333;
}

.itens-menu {
	background-color: #333;
}

.btn-buscar {
	background-color: #62abb8;
}

.icones-conta-cart {
	background-color: #fff;
}

.texto-minha-conta {
	color: #333;
}

.cart-value {
	color: #333;
}

.botao-comprar-produto {
	background-color: rgb(64, 154, 192);
}


